* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: auto;
    overflow: hidden;
}

.carousel {
    width: 98.2%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 1% 1% 1%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Permite rolagem suave em dispositivos iOS */
    
}

.carousel-container {
    display: flex;
    width: 100%;
}

.carousel-slide {
    flex: none;
    margin-right: 20px; /* Espaçamento entre os slides */
    scroll-snap-align: center;
}

.carousel-slide img {
    width: auto;
    height: 90vh; /* Ajustado para cobrir todo o espaço do slide */
    object-fit: cover; /* Mantém proporção e cobre o espaço do slide */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .carousel {
        height: 100vh; /* Ajuste a altura do carrossel para telas menores */
    }

    .carousel-slide {
        margin-right: 5px; /* Ajuste de margem menor para telas menores */
    }

    .carousel-slide img {
        width: 98%;
        height: 85vh; /* Ajuste a altura da imagem para telas menores */
    }

    .navbar {
        margin-top: 3.5%;
    }
}
