* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: auto;
    overflow: hidden;
}

.carousel {
    width: 98.2%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 1% 1% 1%;
    overflow-x:scroll;
    -webkit-overflow-scrolling: touch; /* Permite rolagem suave em dispositivos iOS */
    
}

.carousel-container {
    display: flex;
    width: 100%;
}

.carousel-slide {
    flex: none;
    margin-right: 50px; /* Espaçamento entre os slides */
    scroll-snap-align: center;
}

.carousel-slide img {
    width: auto;
    height: 90vh; /* Ajustado para cobrir todo o espaço do slide */
    object-fit: cover; /* Mantém proporção e cobre o espaço do slide */
}

/* Responsividade */


/* Responsividade para tablets e telas médias (entre 769px e 1023px) */
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .carousel {
        height: auto;
        margin: 2% 1% 1% 1%;
    }

    .carousel-slide {
        margin-right: 70px;
        margin-top: 20%;
    }

    .carousel-slide img {
        width: auto;
        height: 70vh;
    }
    .special{
        transform: scale(0.40);
        margin-right: -28vh !important;
        margin-left: -28vh !important;
    }
    .special1{
        transform: scale(0.48);
        margin-right: -29vh !important;
        margin-left: -26vh !important;
    }
    .special2{
        transform: scale(0.58);
        margin-right: -32vh !important;
        margin-left: -30vh !important;
    }
    
    .special3{
        transform: scale(0.40);
        margin-right: -35vh !important;
        margin-left: -36vh !important;
    }
    .special5{
        transform: scale(0.40);
        margin-right: -30vh !important;
        margin-left: -32vh !important;
    }
    .special4{
        transform: scale(0.48);
        margin-right: -22vh !important;
        margin-left: -22vh !important;
    }
    .special6{
        transform: scale(0.48);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    
    main {
        margin-top: 25%;
    }
    
    header {
        margin-top: 5%;
    }
}

/* (entre 481px e 768px) */
@media screen and (min-width: 390px) and (max-width: 1022px) {
    .carousel {
        height: auto;
        margin: 2% 1% 1% 1%;
    }

    .carousel-slide {
        margin-left: 5vh;
        margin-top: 20%;
        margin: 2% 1% 1% 1%;
    }

    .carousel-slide img {
        width: auto;
        height: 70vh;
    }
    .special{
        transform: scale(0.40);
        margin-right: -26vh !important;
        margin-left: -26vh !important;
    }
    .special1{
        transform: scale(0.48);
        margin-right: -29vh !important;
        margin-left: -26vh !important;
    }
    .special2{
        transform: scale(0.40);
        margin-right: -32vh !important;
        margin-left: -30vh !important;
    }
    
    .special3{
        transform: scale(0.40);
        margin-right: -35vh !important;
        margin-left: -36vh !important;
    }
    .special4{
        transform: scale(0.40);
        margin-right: -32vh !important;
        margin-left: 92vh !important;
    }
    .special4{
        transform: scale(0.48);
        margin-right: -22vh !important;
        margin-left: -22vh !important;
    }
    .special6{
        transform: scale(0.48);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    
    main {
        margin-top: 25%;
    }
}

/*  (480px e abaixo) */
@media screen and (max-width: 480px) {
    .carousel {
        height: auto;
        width: 96%;
        margin-left: 2%;
    }

    .carousel-container{
    }

    .carousel-slide img {
        width: auto;
        height: 70vh;
    }
    .special{
        transform: scale(0.43);
        margin-right: -31vh !important;
        margin-left: -32vh !important;
    }
    .special1-1-1{
        transform: scale(0.43);
        margin-right: -31vh !important;
        margin-left: -30vh !important;
    }
    .special1-1-2{
        transform: scale(0.43);
        margin-right: -30vh !important;
        margin-left: -30vh !important;
    }
    .special1-1-3{
        transform: scale(0.43);
        margin-right: -30vh !important;
        margin-left: -29.3vh !important;
    }
    .special1-1-4{
        transform: scale(0.43);
        margin-right: -30vh !important;
        margin-left: -31vh !important;
    }
    .special1-1-5{
        transform: scale(0.43);
        margin-right: -30vh !important;
        margin-left: -27vh !important;
    }
    .special1-1-6{
        transform: scale(0.43);
        margin-right: -27vh !important;
        margin-left: -27vh !important;
    }
    .special1-1-7{
        transform: scale(0.43);
        margin-right: -27vh !important;
        margin-left: -26vh !important;
    }
    .special1-1-8{
        transform: scale(0.43);
        margin-right: -28vh !important;
        margin-left: -29vh !important;
    }
    .special1-1-9{
        transform: scale(0.43);
        margin-right: -27vh !important;
        margin-left: -28vh !important;
    }
    .special1-1-10{
        transform: scale(0.43);
        margin-right: -33vh !important;
        margin-left: -34vh !important;
    }

    .special1-1-11{
        transform: scale(0.43);
        margin-right: -28.6vh !important;
        margin-left: -28.6vh !important;
    }
    .special1-1-12{
        transform: scale(0.5);
        margin-right: -21.1vh !important;
        margin-left: -21.1vh !important;
    }
    .special1-1-12{
        transform: scale(0.5);
        margin-right: -21.1vh !important;
        margin-left: -21.1vh !important;
    }
    .special1-1-13{
        transform: scale(0.48);
        margin-right: -21.4vh !important;
        margin-left: -24.5vh !important;
    }
    .special1-1-14{
        transform: scale(0.48);
        margin-right: -21.5vh !important;
        margin-left: -24vh !important;
    }
    .special1-1-15{
        transform: scale(0.45);
        margin-right: -26vh !important;
        margin-left: -28vh !important;
    }
    .special1-1-16{
        transform: scale(0.49);
        margin-right: -29vh !important;
        margin-left: -29vh !important;
    }
    .special1-1-17{
        transform: scale(0.49);
        margin-right: -30vh !important;
        margin-left: -29vh !important;
    }
    .special1-1-18{
        transform: scale(0.49);
        margin-right: -26vh !important;
        margin-left: -23vh !important;
    }
    .special1-1-19{
        transform: scale(0.49);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    .special1-1-20{
        transform: scale(0.49);
        margin-right: -21.6vh !important;
        margin-left: -21.6vh !important;
    }
    .special1-1-21{
        transform: scale(0.43);
        margin-right: -27.5vh !important;
        margin-left: -30vh !important;
    }
    .special1-1-22{
        transform: scale(0.43);
        margin-right: -23vh !important;
        margin-left: -25.5vh !important;
    }
    .special1-1-23{
        transform: scale(0.43);
        margin-right: -27.5vh !important;
        margin-left: -33vh !important;
    }
    .special1-1-24{
        transform: scale(0.43);
        margin-right: -38vh !important;
        margin-left: -35vh !important;
    }
    .special1-1-25{
        transform: scale(0.43);
        margin-right: -28.3vh !important;
        margin-left: -28.3vh !important;
    }
    .special1-1-26{
        transform: scale(0.43);
        margin-right: -29.3vh !important;
        margin-left: -29.3vh !important;
    }
    .special1-1-27{
        transform: scale(0.43);
        margin-right: -26.5vh !important;
        margin-left: -25.5vh !important;
    }

    .special1-1-28{
        transform: scale(0.43);
        margin-right: -28vh !important;
        margin-left: -30vh !important;
    }
    .special1-1-29{
        transform: scale(0.44);
        margin-right: -27vh !important;
        margin-left: -29vh !important;
    }
    .special1-1-30{
        transform: scale(0.44);
        margin-right: -27vh !important;
        margin-left: -29.5vh !important;
    }
    .special1-1-31{
        transform: scale(0.44);
        margin-right: -27.8vh !important;
        margin-left: -31vh !important;
    }
    .special1-1-32{
        transform: scale(0.43);
        margin-right: -40vh !important;
        margin-left: -27.3vh !important;
    }

    .special1-1-33{
        transform: scale(0.49);
        margin-right: -23.2vh !important;
        margin-left: -25vh !important;
    }
    .special1-1-34{
        transform: scale(0.49);
        margin-right: -25.2vh !important;
        margin-left: -25vh !important;
    }
    .special1-1-35{
        transform: scale(0.43);
        margin-right: -28vh !important;
        margin-left: -28vh !important;
    }
    
    .special1-1-36{
        transform: scale(0.47);
        margin-right: -24.3vh !important;
        margin-left: -26.2vh !important;
    }
    .special1-1-37{
        transform: scale(0.47);
        margin-right: -30vh !important;
        margin-left: -24.8vh !important;
    }
    .special1-1-38{
        transform: scale(0.43);
        margin-right: -29.7vh !important;
        margin-left: -29.7vh !important;
    }
    .special1-1-39{
        transform: scale(0.43);
        margin-right: -28.5vh !important;
        margin-left: -31.2vh !important;
    }
    .special1-1-40{
        transform: scale(0.43);
        margin-right: -28.5vh !important;
        margin-left: -28.5vh !important;
    }
    .special1-1-41{
        transform: scale(0.43);
        margin-right: -27.3vh !important;
        margin-left: -27.3vh !important;
    }
    .special1-1-42{
        transform: scale(0.43);
        margin-right: -26vh !important;
        margin-left: -26vh !important;
    }
    .special1-1-43{
        transform: scale(0.43);
        margin-right: -28.5vh !important;
        margin-left: -28.5vh !important;
    }
    .special1-1-44{
        transform: scale(0.43);
        margin-right: -35vh !important;
        margin-left: -28.5vh !important;
    }
    .special1-1-45{
        transform: scale(0.43);
        margin-right: -26vh !important;
        margin-left: -25vh !important;
    }
    .special1-1-46{
        transform: scale(0.43);
        margin-right: -28.5vh !important;
        margin-left: -28vh !important;
    }
    .special1-1-47{
        transform: scale(0.38);
        margin-right: -37vh !important;
        margin-left: -37vh !important;
    }
    .special1-1-48{
        transform: scale(0.50);
        margin-right: -23vh !important;
        margin-left: -22vh !important;
    }
    .special1-1-49{
        transform: scale(0.50);
        margin-right: -25vh !important;
        margin-left: -21vh !important;
    }
    .special1-1-50{
        transform: scale(0.50);
        margin-right: -25vh !important;
        margin-left: -18.3vh !important;
    }
    .special1-1-51{
        transform: scale(0.43);
        margin-right: -26.5vh !important;
        margin-left: -29.7vh !important;
    }
    .special1-1-52{
        transform: scale(0.49);
        margin-right: -24vh !important;
        margin-left: -25.5vh !important;
    }
    .special1-1-53{
        transform: scale(0.49);
        margin-right: -20.8vh !important;
        margin-left: -21vh !important;
    }
    .special1-1-54{
        transform: scale(0.49);
        margin-right: -25.5vh !important;
        margin-left: -28.7vh !important;
    }
    .special1-1-55{
        transform: scale(0.49);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    .special1-1-56{
        transform: scale(0.49);
        margin-right: -23.8vh !important;
        margin-left: -24vh !important;
    }
    .special1-1-57{
        transform: scale(0.49);
        margin-right: -21.1vh !important;
        margin-left: -21.1vh !important;
    }
    .special1-1-58{
        transform: scale(0.50);
        margin-right: -19.8vh !important;
        margin-left: -20vh !important;
    }
    .special1-1-59{
        transform: scale(0.45);
        margin-right: -24.5vh !important;
        margin-left: -24.5vh !important;
    }
    .special1-1-60{
        transform: scale(0.5);
        margin-right: -23vh !important;
        margin-left: -23vh !important;
    }
    .special1-1-61{
        transform: scale(0.5);
        margin-right: -25.6vh !important;
        margin-left: -23.5vh !important;
    }
    .special1-1-62{
        transform: scale(0.5);
        margin-right: -23vh !important;
        margin-left: -22vh !important;
    }
    .special1-1-63{
        transform: scale(0.5);
        margin-right: -21.5vh !important;
        margin-left: -24.8vh !important;
    }
    .special1-1-64{
        transform: scale(0.5);
        margin-right: -23vh !important;
        margin-left: -29vh !important;
    }
    .special1-1-65{
        transform: scale(0.5);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    .special1-1-66{
        transform: scale(0.48);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    .special1-1-67{
        transform: scale(0.48);
        margin-right: -21.3vh !important;
        margin-left: -21.3vh !important;
    }
    .special1-1-68{
        transform: scale(0.43);
        margin-right: -28vh !important;
        margin-left: -30vh !important;
    }
    .special1-1-69{
        transform: scale(0.43);
        margin-right: -31vh !important;
        margin-left: -32vh !important;
    }
    .special1-1-70{
        transform: scale(0.43);
        margin-right: -27vh !important;
        margin-left: -26.5vh !important;
    }
    .special1-1-71{
        transform: scale(0.43);
        margin-right: -38vh !important;
        margin-left: -33.5vh !important;
    }
    .special1-1-72{
        transform: scale(0.43);
        margin-right: -28.3vh !important;
        margin-left: -28.5vh !important;
    }
    
    



    

    .special1-2{
        transform: scale(0.48);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    .special1-3{
        transform: scale(0.48);
        margin-right: -40vh !important;
        margin-left: -40vh !important;
    }


    .special1{
        transform: scale(0.40);
        margin-right: -34vh !important;
        margin-left: -34vh !important;
    }
    .special2{
        transform: scale(0.40);
        margin-right: -36vh !important;
        margin-left: -36vh !important;
    }
    
    .special3{
        transform: scale(0.40);
        margin-right: -29vh !important;
        margin-left: -29vh !important;
    }
    .special5{
        transform: scale(0.40);
        margin-right: -30vh !important;
        margin-left: -32vh !important;
    }
    .special4{
        transform: scale(0.40);
        margin-right: -33vh !important;
        margin-left: -35vh !important;
    }
    .special6{
        transform: scale(0.48);
        margin-right: -24vh !important;
        margin-left: -24vh !important;
    }
    .special7{
        transform: scale(0.48);
        margin-right: -27vh !important;
        margin-left: -27vh !important;
    }
    .special8{
        transform: scale(0.48);
        margin-right: -24vh !important;
        margin-left: -25vh !important;
    }
    .special9{
        transform: scale(0.40);
        margin-right: -31vh !important;
        margin-left: -32vh !important;
    }
    .special10{
        transform: scale(0.40);
        margin-right: -28vh !important;
        margin-left: -28vh !important;
    }
    .special11{
        transform: scale(0.40);
        margin-right: -30vh !important;
        margin-left: -31vh !important;
    }
    .special12{
        transform: scale(0.40);
        margin-right: -26vh !important;
        margin-left: -26vh !important;
    }
    .special13{
        transform: scale(0.40);
        margin-right: -31vh !important;
        margin-left: -31vh !important;
    }
    

    main {
        margin-top: 25%;
    }
}