* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

.carousel-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    flex: none;
    margin-right: 10px; /* Espaçamento entre os slides */
}

.carousel-slide img {
    width: auto;
    height: 90vh; /* Ajustado para cobrir todo o espaço do slide */
    object-fit: cover; /* Mantém proporção e cobre o espaço do slide */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .carousel-slide {
        margin-right: 5px; /* Ajuste de margem menor para telas menores */
    }
}
